@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  height: 0px;
}

html, body {
  background-color: black;
  width: 100vw;
  height: 100vh;

}

body {
  background: url('imagens/fundo-madeira.jpg') no-repeat top center;  
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;  
}

section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 308px;
  height: 626px;
  background: url('imagens/frame-iphone.png') no-repeat top center;  
}

iframe#tela {
  position: relative;
  width: 265px;
  height: 470px;
  
  top: 81px;
  left: 21px;
  
}
